<div class="container mb-3">
    <h3 class="my-5 text-center">اضافة مسؤول</h3>
    <form [formGroup]="myForm" class="col-lg-6 mx-auto" (ngSubmit)="save()" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">الاسم</label>
            <input formControlName="formName" type="text" name="name" id="name" class="form-control" placeholder=""
                aria-describedby="helpId">
        </div>
        <div class="form-group">
            <label for="email">البريد الاليكتروني :</label>
            <input formControlName="formEmail" type="email" name="email" id="email" class="form-control">
            <div class="alert alert-danger" role="alert"
                *ngIf="myForm.controls['formEmail'].invalid && myForm.controls['formEmail'].touched">
                <p *ngIf="myForm.controls['formEmail'].errors?.required">هذا الحقل مطلوب</p>
                <p *ngIf="myForm.controls['formEmail'].errors?.email">ادخل بريد اليكتروني صحيح وغير موجود مسبقا</p>
            </div>
        </div>
        <div class="form-group">
            <label for="password">كلمة المرور :</label>
            <input formControlName="formPassword" type="password" name="password" id="password" class="form-control">
            <div class="alert alert-danger" role="alert"
                *ngIf="myForm.controls['formPassword'].invalid && myForm.controls['formPassword'].touched">
                <p *ngIf="myForm.controls['formPassword'].errors?.required">هذا الحقل مطلوب</p>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">تأكيد كلمة المرور :</label>
            <input formControlName="formConfirmPassword" type="password" name="confirmPassword" id="confirmPassword"
                class="form-control">
            <div class="alert alert-danger" role="alert"
                *ngIf="myForm.controls['formConfirmPassword'].invalid && myForm.controls['formConfirmPassword'].touched">
                <p *ngIf="myForm.controls['formConfirmPassword'].errors?.required">هذا الحقل مطلوب</p>
                <p *ngIf="myForm.controls['formConfirmPassword'].errors?.confirmedValidator">يجب تطابق القيم في حقول
                    كلمة السر
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="formSSN">الرقم القومي</label>
            <input formControlName="formSSN" type="text" name="ssn" id="ssn" class="form-control">
            <div class="alert alert-danger" role="alert"
                *ngIf="myForm.controls['formSSN'].invalid && myForm.controls['ssn'].touched">
                <p *ngIf="myForm.controls['formSSN'].errors?.required">هذا الحقل مطلوب</p>
                <p *ngIf="myForm.controls['formSSN'].errors?.minLength">الرقم القومي يجب ان يتكون من 14 رقم</p>
                <p *ngIf="myForm.controls['formSSN'].errors?.maxLength">الرقم القومي لا يزيد عن 14 رقم</p>

            </div>
        </div>
        <input class="btn btn-info" [disabled]="myForm.invalid" type="submit" value="حفظ">
    </form>
</div>