<div class="container">
  <div class="row">
    <div class="col-md-6 my-5">
      <a class="btn btn-primary" [routerLink]="['/manage-teachers/']">ادارة المدرسين</a>
    </div>
    <div class="col-md-6 my-5">
      <a class="btn btn-primary" [routerLink]="['/manage-groups-data/']">ادارة المجموعات</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 my-5">
      <a class="btn btn-primary" [routerLink]="['/manage-student/']">ادارة الاشتراكات</a>
    </div>
    <div class="col-md-6 my-5">
      <a class="btn btn-primary" [routerLink]="['/manage-students/']">ادارة الطلاب</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 my-5">
      <a class="btn btn-primary" href="#">ادارة اعضاء فريق الادارة</a>
    </div>
  </div>
</div>
