<div class='container-fluid'>
    <div class="row">
        <div class="card mx-auto col-md-3 col-10 mt-5 mx-3" *ngFor='let course of courses'>
            <div class="card-body text-center mx-auto">
                <div class='cvp'>
                    <h5 class="card-title font-weight-bold">{{course.name}}</h5>
                    <p class="card-text">أ\{{course.teacher.name}}</p> <a [routerLink]="['/about']"
                        class="btn details px-auto">عرض
                        التفاصيل</a><br /> <a [routerLink]="['/reserve']" class="btn cart px-auto">حجز</a>
                </div>
            </div>
        </div>
    </div>
</div>