<div class="container">
  <div class="row my-3">
    <div class="col-md-4">
      <div class="card" dir="rtl">
        <img class="card-img-top" [src]="student.image" alt="Card image" onerror="this.src='assets/img_avatar1.png';">
        <div class="card-body">
          <h4 class="card-title">اسم الطالب / {{student.name}}</h4>
        </div>
      </div>
    </div>

    <div class="col-md-8">

      <div class="jumbotron" style="overflow:auto;">
        <h3>معلومات التواصل</h3>
        <hr class="w-50 float-left">
        <ul class="float-left w-100 list-unstyled">
          <li class="ml-3">رقم تليفون : {{student.phone}}<span></span></li>
        </ul>
      </div>
      <div class="jumbotron" style="overflow:auto;">
        <h3>المجموعات</h3>
        <hr class="w-50 float-left">
        <div class="float-left w-100">
          <a class="btn btn-success m-1" *ngFor="let mem of memberships" [routerLink]="['/post-group/', mem.group.id]"
            [hidden]="mem.status=='binding'">{{mem.group.name}}
            - {{mem.group.level}}</a>
          <a class="btn btn-primary m-1" *ngFor="let mem of memberships" [routerLink]="['/reserve/', mem.group.id]"
            [hidden]="mem.status=='active'">تجديد الاشتراك: ({{mem.group.name}}
            - {{mem.group.level}})</a>

        </div>
      </div>
      <a *ngIf="can_edit!='true'" class=" btn btn-primary m-1 float-right"
        [routerLink]="['/update-student', student.id]">تعديل
        الملف
        الشخصي</a>
    </div>
  </div>
</div>