<div class="container mb-3">
  <h2 class="my-5 text-center">اضافة طالب</h2>

  <div class="w-100">
    <form class="col-lg-6 mx-auto" [formGroup]="myForm" (ngSubmit)="Add()">
      <div class="form-group">
        <label for="name">اسم الطالب :</label>
        <input formControlName="formName" type="text" name="name" id="name" class="form-control">
        <div class="alert alert-danger" role="alert"
          *ngIf="myForm.controls['formName'].invalid && myForm.controls['formName'].touched">
          <p *ngIf="myForm.controls['formName'].errors?.required">هذا الحقل مطلوب</p>
          <p *ngIf="myForm.controls['formName'].errors?.minlength">اسم الطالب يجب أن يتكون من 3 أحرف حتي 50 حرف</p>
          <p *ngIf="myForm.controls['formName'].errors?.maxlength">اسم الطالب يجب ألا يزيد عن 50 حرف</p>
        </div>
      </div>
      <div class="form-group">
        <label for="email">البريد الاليكتروني :</label>
        <input formControlName="formEmail" type="email" name="email" id="email" class="form-control">
        <div class="alert alert-danger" role="alert"
          *ngIf="myForm.controls['formEmail'].invalid && myForm.controls['formEmail'].touched">
          <p *ngIf="myForm.controls['formEmail'].errors?.required">هذا الحقل مطلوب</p>
          <p *ngIf="myForm.controls['formEmail'].errors?.email">ادخل بريد اليكتروني صحيح وغير موجود مسبقا</p>
        </div>
      </div>
      <div class="form-group">
        <label for="password">كلمة المرور :</label>
        <input formControlName="formPassword" type="password" name="password" id="password" class="form-control">
        <div class="alert alert-danger" role="alert"
          *ngIf="myForm.controls['formPassword'].invalid && myForm.controls['formPassword'].touched">
          <p *ngIf="myForm.controls['formPassword'].errors?.required">هذا الحقل مطلوب</p>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">تأكيد كلمة المرور :</label>
        <input formControlName="formConfirmPassword" type="password" name="confirmPassword" id="confirmPassword"
          class="form-control">
        <div class="alert alert-danger" role="alert"
          *ngIf="myForm.controls['formConfirmPassword'].invalid && myForm.controls['formConfirmPassword'].touched">
          <p *ngIf="myForm.controls['formConfirmPassword'].errors?.required">هذا الحقل مطلوب</p>
          <p *ngIf="myForm.controls['formConfirmPassword'].errors?.confirmedValidator">يجب تطابق القيم في حقول كلمة السر
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="level">المستوي :</label>
        <select formControlName="formLvl" class="btn btn-secondary dropdown-toggle w-100 text-center" name="level"
          id="level">
          <option *ngFor="let lvl of levels" [value]="lvl">{{ lvl }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="phone">رقم الهاتف :</label>
        <input formControlName="formPhone" type="text" name="phone" id="phone" class="form-control">
        <div class="alert alert-danger" role="alert"
          *ngIf="myForm.controls['formPhone'].invalid && myForm.controls['formPhone'].touched">
          <p *ngIf="myForm.controls['formPhone'].errors?.required">هذا الحقل مطلوب</p>
          <p *ngIf="myForm.controls['formPhone'].errors?.maxlength">رقم الهاتف يحب أن يتكون من 11 رقم</p>
          <p *ngIf="myForm.controls['formPhone'].errors?.minlength">رقم الهاتف يحب أن يتكون من 11 رقم</p>
          <p *ngIf="myForm.controls['formPhone'].errors?.pattern">رقم الهاتف  غير صحيح</p>
        </div>
      </div>
      <div class="form-group">
        <label for="image">الصورة :</label>
        <input (change)="onFileselected($event)" type="file" name="image" id="image" class="d-block">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">حفظ</button>
    </form>
  </div>
</div>
