<div class="container">
  <h3 class="my-5">اضافة مدرس</h3>
  <img width="90" height="90" #errimage src="{{image||'assets/img_avatar1.png'}}" />
  <!-- <img src="assets/img_avatar1.png" hidden [(ngModel)]="image" alt=""> -->
  <form [formGroup]="myForm" class="col-lg-6 mx-auto" (ngSubmit)="add_teacher()" enctype="multipart/form-data">
    <div class="form-group">
      <label for="name">الاسم</label>
      <input formControlName="formName" type="text" name="name" id="name" class="form-control" placeholder=""
        aria-describedby="helpId">
    </div>

    <div class="form-group">
      <label for="description">اضافة وصف</label>
      <textarea formControlName="formDescription" class="form-control" name="description" id="description"
        rows="3"></textarea>
    </div>

    <div class="form-group">
      <label for="phone">اضافة رقم هاتف</label>
      <input formControlName="formPhone" type="text" name="phone" id="phone" class="form-control" placeholder=""
        aria-describedby="helpId">
    </div>

    <div class="form-group">
      <label for="file">اضافة صورة</label>
      <input type="file" class="d-block" (change)="onFileselected($event)" name="file" id="file" placeholder=""
        aria-describedby="fileHelpId">
    </div>
    <input class="btn btn-info" [disabled]="myForm.invalid" type="submit" value="حفظ">

  </form>
</div>
