/* header */
.contain{
  position: relative;
}

.images{
  display: block;
  width: 100%;
  max-height: 100vh;
}

.images img{
  object-fit:cover;
  max-height: 100vh;
}

.overlay{
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-image: radial-gradient(circle farthest-side at bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.8) 95%);
  color:white;
  transition: 0.5s ease;
}
