<div class="row my-3">
    <div class="col-md-4">
        <div class="card" dir="rtl">
            <img class="card-img-top img-fluid rounded" [src]="student.image" alt="Card image" >
            <div class="form-group">
              <label for=""></label>
              <input type="file" class="form-control-file" (change)="onFileselected($event)" name="image" id="" placeholder="" aria-describedby="fileHelpId">
              <small id="fileHelpId" class="form-text text-muted">تعديل الصورة</small>
            </div>
            <div class="card-body">
                <h4 class="card-title">اسم الطالب / {{student.name}}</h4>
            </div>
        </div>
        </div>
<div class="col-md-4">

<form enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleInputEmail1">الاسم</label>
    <input type="text" class="form-control" maxlength="50" name="name" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="student.name" >
  </div>

  <div class="form-group">
    <label for="">المستوي</label>
    <select class="form-control" name="level" [(ngModel)]="student.level" id="">
      <option *ngFor="let lvl of levels" [value]="lvl">{{lvl}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">الهاتف</label>
    <input type="text" class="form-control" name="phone" id="exampleInputPassword1" [(ngModel)]="student.phone">
  </div>

  <button type="submit" class="btn btn-info" (click)="save()">حفظ</button>
</form>
        
</div>
    
