<div class="container">
  <h3 class="my-5 text-center">تأكيد حجز المجموعة</h3>
  <form method="post" (ngSubmit)="Add()" class="col-lg-6 mx-auto">
    <div class="form-group">
      <small id="emailHelpId" class="form-text text-warning my-3">
        <h5>برجاء ارفاق صورة ايصال الدفع</h5>
      </small>
      <label for="receipt-image">ايصال الدفع</label>
      <input type="file" (change)="onFileselected($event)" class="btn d-block" name="reservation-code"
        id="receipt-image">
      <button type="submit" class="btn btn-info btn-lg mt-3">ارسال</button>
    </div>
  </form>
</div>
